[Unit]
Description=A privacy aware distributed social network
Wants=redis.service
Wants=postgresql.service

[Service]
User=diaspora
Environment=RAILS_ENV=production DB=postgres
WorkingDirectory=/home/diaspora/diaspora
ExecStart=/bin/bash -lc "true; ./script/server"
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=multi-user.target
