[Unit]
Description=Diaspora social network (worker %i)a
# For MySQL/MariaDB use mysqld.service
Wants=redis.service postgresql.service
After=redis.service postgresql.service
PartOf=diaspora.target
StopWhenUnneeded=true

[Service]
User=diaspora
WorkingDirectory=/home/diaspora/diaspora
Environment=RAILS_ENV=production DB=postgres
ExecStart=/usr/bin/chruby-exec 2.1 -- bundle exec sidekiq
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=diaspora.target
DefaultInstance=worker1
