[Unit]
Description=Diaspora social network (worker %i)
PartOf=diaspora.target
StopWhenUnneeded=true

[Service]
User=diaspora
WorkingDirectory=/home/diaspora/diaspora
Environment=RAILS_ENV=production
ExecStart=/usr/bin/chruby-exec 2.3 -- bin/bundle exec sidekiq
Restart=always
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=diaspora.target
DefaultInstance=worker1
