[Unit]
Description=Diaspora social network (application server)
Wants=redis.service postgresql.service
StopWhenUnneeded=true

[Service]
User=diaspora
WorkingDirectory=/home/diaspora/diaspora
Environment=RAILS_ENV=production DB=postgres
ExecStart=/usr/bin/chruby-exec 2.0 -- bundle exec puma -b unix:///var/run/diaspora/diaspora.sock -e $RAILS_ENV
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=diaspora.target
