[Unit]
Description=Diaspora social network (application server)
PartOf=diaspora.target
StopWhenUnneeded=true

[Service]
User=diaspora
WorkingDirectory=/home/diaspora/diaspora
Environment=RAILS_ENV=production
ExecStart=/usr/bin/chruby-exec 2.3 -- bin/bundle exec puma -b unix:///run/diaspora/diaspora.sock -e $RAILS_ENV
Restart=always
CPUAccounting=true
MemoryAccounting=true
BlockIOAccounting=true

[Install]
WantedBy=diaspora.target
